---
import Link from "./Link.astro";
interface Props {
  title: string;
  company: string;
  description: string;
  link?: string;
  date: string;
}

const { title, company, description, link, date } = Astro.props;
---

<div class="relative mx-12 pb-12">
  <div class="relative pb-12">
    <div class="sticky top-0">
      <Link href={link}>
        {title}
      </Link>
      <h4 class="font-medium text-xl text-gray-600 dark:text-white">
        {company}
      </h4>
      <time class="p-0 m-0 text-sm text-gray-400/80 dark:text-white/40"
        >{date}</time
      >
    </div>
    <br />
    <div
      class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 max-w-96"
    >
      {description}
    </div>
  </div>
</div>
