---
import Link from "./Link.astro";
import LinkInline from "./LinkInline.astro";
interface Props {
  title: string;
  company: string;
  description: string;
  link?: string;
  date: string;
}

const { title, company, description, link, date } = Astro.props;
---

<div class="relative flex flex-col md:flex-row md:gap-10">
  <div class="relative md:ml-1">
    <time class="p-0 m-0 text-sm text-gray-400/80 dark:text-white/40"
      >{date}</time
    >
  </div>
  <div class="relative">
    <div class="relative pb-8">
      <div>
        <LinkInline href={link}>
          {title}
          <Link class="pl-2" />
        </LinkInline>
        <h4 class="font-medium text-xl text-gray-600 dark:text-white">
          {company}
        </h4>
      </div>
      <br />
      <div
        class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 max-w-96"
      >
        {description}
      </div>
    </div>
  </div>
</div>
